@font-face {
    font-family: 'moon_flower_boldregular';
    src: url('../fonts/moon_flower_bold-webfont.eot');
    src: url('../fonts/moon_flower_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/moon_flower_bold-webfont.woff') format('woff'),
         url('../fonts/moon_flower_bold-webfont.ttf') format('truetype'),
         url('../fonts/moon_flower_bold-webfont.svg#moon_flower_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color:black;
	font-family: 'moon_flower_boldregular', cursive;
	font-size: 18px;
}

.header-logo{
	width: 100%;
	max-width:200px;
	margin-top:28px;
}


.navbar-nav{
	margin-top:20px;
}

.navbar-nav.navbar-right:last-child {
	font-size: 22px;
}

.navbar-default{	
	background-color:black;
	border-color:black;
}

.navbar-default .navbar-nav>li>a {
color: white;
}

.navbar-default .navbar-nav>li>a:hover {
color: #7777;
}


.socialicon{
	width:100%;
	max-width: 90px;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}
.socialicon:hover{
	opacity:0.4;
	max-width: 90px;
}

.text-center{
	text-align: center;
}

.social-links {
	margin-top:20px;
}

/* Subscriber Bar */
.get-in-the-know {
	margin-top: 21px;
	font-size: 14px;
}
#mc_embed_signup input.email {
	margin:0 !important;
	float:left;
}
#mc_embed_signup input.button {
	clear:none;
	float:right;
	visibility: hidden;
}

/* Index Page */
.subscribe-bar {
	margin-top:30px;
}
/* About Page */
.about-logo {
	max-width:190px;
}
.about-text {
	font-size: 27px;
	text-align: center;
	line-height: 31px;
	margin-bottom: 1px;
}
.light-text {
	color:#444;
}
.lighter-text {
	color:#555;
}
.lightest-text {
	color:#555;
}
/* Coming Soon Page */
.coming-soon {
	font-size: 180px;
	text-align: center;
	line-height: 263px;
}
/* Contact Page*/
.contact-row {
	margin-top: 45px;
	margin-bottom:129px;
}
.contact-info {
	text-align:center;
	font-size:27px;
}
.google-map {
	width:100%;
}

/* from 768px to the largest width*/
@media (min-width: 768px) {
	.navbar-default{
		margin-top: 10px;
	}
	.coming-soon {
		font-size: 285px;
	}
	.contact-info {
		text-align:right;
		min-height:402px;
	}
	.get-in-the-know {
		margin-top: 18px;
		font-size: 20px;
	}
}
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
@media (max-width:768px){
	.navbar-default .navbar-toggle{
		margin-top:27px;}
	}
}


